

.menu__sub-list {
    margin: 10px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menu__sub-item {
    display: inline-block;
    position: relative;
}

.menu__sub-link {
    position: relative;
    font-size: 1.6rem;
    color: var(--color-nav);
}

.menu__sub-link::after {
    bottom: 0;
    top: 0;
    right: -20px;
    position: absolute;
    content: "";
    height: 90%;
    width: 2px;
    background: #333;
    border-radius: 1px;
}

.content__img {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 10px;
}

.content__img-item,
.content__img-main {
    width: 100%;
    object-fit: cover;
}

.content__img-list {
    max-width: 110px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.content__img-main-wrap {
    max-width: 572px;
}


.grid-container {
    display: grid;
    grid-template-areas:
        "header header header header header header"
        "main main main main main main"
        "footer footer footer footer footer footer";
}

.content__info-title,
.content__info-price {
    font-size: 24px;
    font-weight: bold;
    color: var(--color);
    line-height: 29px;
    margin-bottom: 10px;
}

.content__info-price {
    color: #b31f2a;
}

input[type="radio"] {
    display: none;
}

.content__info-inner {
    padding: 40px;
}

.content__input-label {
    --color: #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 32px;
    height: 32px;
    border: 1px solid #333;
    border-radius: 50%;
}

.content__input-label::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.content__input-label:nth-of-type(1)::after {
    /* background: url(../img/product05.jpg); */
    background-repeat: no-repeat;
    background-position: center;
}

.content__input-label:nth-of-type(2)::after {
    /* background: url(../img/product03.jpg); */
    background-repeat: no-repeat;
    background-position: center;
}

.content__input-label:nth-of-type(3)::after {
    /* background: url(../img/product04.jpg); */
    background-repeat: no-repeat;
    background-position: center;
}

.content__input-label:nth-of-type(4)::after {
    /* background: url(../img/product07.jpg); */
    background-repeat: no-repeat;
    background-position: center;
}

.content__info-color {
    margin-bottom: 10px;
}

.content__input {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.content__input button {
    width: 100%;
}

.content__input-select,
.content__input-number {
    min-height: 42px;
    padding-left: 10px;
    padding-right: 20px;
    width: 100%;
}

.content__input-select {
    min-width: 200px;
}

.item1 {
    grid-area: header;
    background: #f8f8f8;
    margin-bottom: 20px;
}
.item3 {
    grid-area: main;
    padding: 20px;
    border-bottom: 1px solid #333;
}
.item5 {
    grid-area: footer;
}
