
/* 
.menu__sub-list {
    margin: 10px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menu__sub-item {
    display: inline-block;
    position: relative;
}

.menu__sub-link {
    position: relative;
    font-size: 1.6rem;
    color: var(--color-nav);
}

.menu__sub-link::after {
    bottom: 0;
    top: 0;
    right: -20px;
    position: absolute;
    content: "";
    height: 90%;
    width: 2px;
    background: #333;
    border-radius: 1px;
} */



.grid-container {
    display: grid;
    grid-template-areas:
        "header header header header header header"      
        "main main main main main main"
        "footer footer footer footer footer footer";
}


.item1 {
    grid-area: header;
    /* margin-bottom: 20px; */
}


.item3 {
    grid-area: main;
    padding: 20px;
    /* border-bottom: 1px solid #333; */
}
.item5 {
    grid-area: footer;
}

/* navbar */
.nav-form__pay {
    padding: 10px 0;
}

.nav-pay__inner {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-areas: "column01 column02 column02 column03";
    align-items: center;
    justify-content: space-between;
}

.nav-pay__link-logo {
    grid-area: column01;
}

.nav-logo {
    width: 200px;
}

.nav-pay__procedure {
    grid-area: column02;
}

.pay__procedure-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay__procedure-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.pay__procedure-line {
    width: 70px;
    height: 1px;
    border: .5px solid #d8d7d7;
    margin: 0 20px;
}

.procedure-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #d8d7d7;
    color: #fff;
}

.pay--active {
    background: #333 !important;
}

.pay-title--active {
    color: #333 !important;
    font-weight: 700 !important;
}

.procedure-item__title {
    color: #d8d7d7;
    font-size: 1.6rem;
}

/* nav next */

.nav-pay__next {
    grid-area: column03;
}

.pay__next-wrap {
    color: #333;
    display: flex;
    align-items: center;
    gap: 10px;
}

.pay__next-title {
    font-size: 1.6rem;
}
/* common */

.table {
    border: .5px solid #d8d7d7;
}

.table-title th, .table-title td{
    padding: 15px 20px;
    text-align: center;
}

.table-title th {
    background-color: #f2f2f2;
    font-size: 1.6rem;
    font-weight: bold;
}

.table-title td {
    font-size: 1.4rem;
    color: #333;
}

.table-line {
    border-bottom: .5px solid #d8d7d7;
}

/* main */

.procedure__main {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


.procedure__main-left {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: 100%;
}

.procedure__main-right{
    width: 440px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex-shrink: 0;
    height: 100%;
}

.procedure-right__top,.procedure-right__bottom {
    height: 100%;
}

.procedure__table {
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

.table-product {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.table-product__img {
    width: 64px;
}

.table__info-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.table-product__info {
    display: flex;
    align-items: center;
    column-gap: 10px;

}

.table__info-input-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    text-align: left;
}

/* .table__info-select {
    min-width: 30px;
    height: 30px;
    border: 1px solid #d8d7d7;
    border-radius: 2px;
    cursor: pointer;
    padding: 0 10px;
} */

.procedure-wrap {
    padding: 20px;
}

.procedure__price-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 1.6rem;
    padding-bottom: 15px;
    border-bottom: .5px solid #d8d7d7;
    margin-bottom: 10px;
}

.no--line {
    border: none !important;
}

.procedure__row {
    display: flex;
    justify-content: space-between;
}

.procedure__price {
    color: red;
}

.procedure__btn {
    width: 100%;
}

/* radio */
.procedure-radio-wrap {
    display: flex;
    flex-direction: column; 
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 20px;
}

.procedure__radio-label {
    position: relative;
}

.radio-row .procedure__radio-span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ddd;
    transition: 0.4s;
}

.radio-row .procedure__radio-span::after {
    opacity: 1;
    position: absolute;
    content: "";
    width: 10px;
    height: 5px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    margin-bottom: 2px;
}

.procedure__radio-label {
    display: flex;
    align-items: center;
    gap: 8px;
}

.procedure__raido-input[type='radio']:checked ~ .procedure__radio-label .procedure__radio-span {
    background: var(--color-check-box);
    border-color: var(--color-check-box);
   
}

.procedure__raido-input[type='radio']:checked ~ .procedure__radio-label .procedure__radio-span::after {
    opacity: 1;
}

/* raido info */

.radio-info__wrap {
    margin-top: 20px;
    padding-left: 20px;
}

.radio-info__row {
    display: flex;
    justify-content: space-between;
}

.radio-info__row  + .radio-info__row  {
    margin-top: 20px;
}

/* .radio-info__column {
     display: flex;
    justify-content: space-evenly; 
} */

/* 
input[type="radio"] {
    display: none;
}


.table__label-radio {
    --color: #333;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 24px;
    height: 24px;
    border: 1px solid #333;
    border-radius: 50%;
} */

/* .table__label-img {
    /* background: url(../img/product01.jpg); */
    /* position: absolute;
    width: 19px;
    height: 19px;
    border-radius: 50%; */
    /* background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 300px 400px; 

}  */

/* .table__icon {
    font-size: 1.8rem;
    transition: 0.4s;
} */


.table__icon:hover {
    color: var(--color-btn-light);
    cursor: pointer;
}

.table__icon i {
    font-size: inherit;
}

/* check */
input[type="checkbox"] {
    display: none;
}

.procedure-left__header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.procedure-left__header-top {
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
    flex-direction: column;
 
}

.procedure-left__info {
    display: flex;
    padding: 15px;
    /* align-items: center;
    justify-content: space-between; */
    flex-direction: column;
    gap: 10px;
}

.procedure-left__info-input, .procedure-left__info-textarea {
    padding: 13px;
    border-radius: 3px;
    border: .5px solid #d8d7d7;
}

.procedure-left__info-input {
    border-radius: 3px;
    border: .5px solid #d8d7d7;
}

.procedure-left__info-textarea {
    resize: none;
}



.btn-procedure-left {
    --width-btn : 170px;
    background-color: #000;
    color: #fff;
}

.procedure-label__check {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    /* gap: 8px; */
}

 .procedure-label__tick {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #ddd;
    transition: 0.4s;
}

 .procedure-label__tick::after {
    opacity: 1;
    position: absolute;
    content: "";
    width: 12px;
    height: 7px;
    border-left: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(-45deg);
    margin-bottom: 6px;
}

.procedure-input__check[type='checkbox']:checked ~ .procedure-label__check .procedure-label__tick {
    background: var(--color-check-box);
    border-color: var(--color-check-box);
   
}

.procedure-input__check[type='checkbox']:checked ~ .procedure-label__check .procedure-label__tick::after {
    opacity: 1;
}



