/* common */
    /* title 01 */
.client-title-01 {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 32px;
}

.client-title-02 {
    color: #333;
    font-size: 1.6rem;
}

.client-user__name {
    margin: 20px 0;
}

    /* header */
.user__header {
    padding-bottom: 40px;
}

/* table */

.table {
    border: .5px solid #d8d7d7;
}


.table-title th, .table-title td{
    padding: 15px 20px;
    text-align: center;
}

.table-title th {
    background-color: #f2f2f2;
    font-size: 1.6rem;
    font-weight: bold;
}

.table-title td {
    font-size: 1.4rem;
    color: #333;
    vertical-align: middle;
}

.table-line {
    border-bottom: .5px solid #d8d7d7;
}

.table__product-detail {
    width: 100%;
    text-align: left;
}

.table-title th:first-child {
    text-align: left; padding-left:30px;
}

.table-product {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.table-product__img {
    width: 64px;
}

.table__info-title {
    font-weight: bold;
    font-size: 1.5rem;
}

.table-product__info {
    display: flex;
    align-items: center;
    column-gap: 10px;

}

.table__info-input-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    gap: 5px;
    text-align: left;
}



.table-line {
    border-bottom: .5px solid #d8d7d7;
}

.info__client-wrap {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0; */
    column-gap: 40px;
    padding-bottom: 60px;
}

.info__client-left {
    padding: 20px;
    width: 300px;
    flex-shrink: 0;
    max-width: 100%;
}

.info__wrap {
    display: flex;
    justify-content: center;
}

.info__wrap-column {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.client__user-img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    border-radius: 50%;
}

.info__wrap-column  li {
    width: 100%;
}


.btn-client {
    min-height: 60px;
    --width-btn: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid #d8d7d7;
    transition: 0.4;
}

.btn-client:hover {
    border-color: var(--color-btn-light);
    color: var(--color-btn-light);
}

.info__client-right {
    overflow-y: initial;
    width: 100%;
    height: 818px;
    max-height: 818px;
    padding: 30px;
}

.client-right__main {
    width: 100%;
}