/* common */
    /* title 01 */
.client-title-01 {
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 32px;
}

.client-title-02 {
    color: #333;
    font-size: 1.6rem;
}

.client-user__name {
    margin: 20px 0;
}

    /* header */
.user__header {
    padding-bottom: 40px;
}

.table {
    border: .5px solid #d8d7d7;
}


.table-line {
    border-bottom: .5px solid #d8d7d7;
}

.info__client-wrap {
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0; */
    column-gap: 40px;
    padding-bottom: 60px;
}

.info__client-left {
    width: 300px;
    flex-shrink: 0;
    max-width: 100%;
}

.info__wrap {
    display: flex;
    justify-content: center;
}

.info__wrap-column {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.client__user-img {
    width: 115px;
}

.info__wrap-column  li {
    width: 100%;
}


.btn-client {
    min-height: 60px;
    --width-btn: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid #d8d7d7;
    transition: 0.4;
}

.btn-client:hover {
    border-color: var(--color-btn-light);
    color: var(--color-btn-light);
}

.info__client-right {
    overflow-y: scroll;
    width: 100%;
    max-height: 818px;
    padding: 30px;
}

.client-right__main {
    width: 100%;
}