* {
    box-sizing: border-box;
}


:root {
 --blue-color-01: #63c7ff;
 --blue-color-02:#2196F3;
 --red--color-01:#FF4742;
}

body {
    /* font-size: 1.6rem; */
    font-family: "Poppins", sans-serif;
    background: var(--primary-color);
}

.main {
    height: 100%;
    background: var(--blue-color-02);
}

.container {
    --width-container: 1170px;
    width: var(--width-container);
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.all
{
    margin-left: 57px;
    padding-left: 8px;
    transition: 0.4s;
    background: var(--blue-color-02);
}

.content {
    padding: 20px 12px 10px;
    background-color: #fff;
    border-radius: 8px 0 0 0 ;
    height: 100%;
}

.showContainer
{
    margin-left: 280px;
    transition: 0.4s;
}

.header {
    background: var(--blue-color-02);
    width: 100%;
    height: 0px;
}



/* .titleText {

} */


.styleText-01 {
    font-size: 42px;
    font-weight: 700;
}

.styleText-02 {
    font-size: 18px;
    font-weight: 500;
}

.styleText-03 {
    font-size: 16px;
    font-weight: 400;
}

.styleText-04 {
    font-size: 14px;
    font-weight: 400;
}

.styleText-05 {
    font-size: 13px;
    font-weight: 400;
}


/* css bảng */
.table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }
  
  .table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align:middle;
  }
  
  .table tr:nth-child(even){background-color: #f2f2f2;}
  
  .table tr:hover {background-color: #ddd;}
  
  .table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: var(--blue-color-02);
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  .table td {
    font-size: 16px;
  }

/* css  switch checkbox*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* button */
/* css tìm kiếm nút  */
  button,input[type = button] {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-weight:inherit;
  }

.search-wrap {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

 .search, .block-wrap {
    display: flex;
    align-items: center;
 }

 .block-wrap {
    column-gap: 5px;
 }
  
.btn {
    --width-btn: 120px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: var(--blue-color-02);
    /* max-height: 42px;
    min-height: 42px; */
    width: var(--width-btn);
    height: 38px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

/* nút thêm */

.btn_add {
    --width-btn: 120px;
    font-size: 24px;
}

.btn_add i {
    
    font-weight: inherit; 
}

/* nút tìm kiếm */
.btn_search {
    --width-btn: 42px;
    border-radius: 0 8px 8px 0;
}

.btn_search i {
    font-size: 24px;
    font-weight: inherit; 
}

/* ô tìm kiếm */

.input_search {
    font-size: 16px;
    outline: none;
    padding-left: 15px;
    padding-right: 10px;
    height: 38px;
    border: 2px solid var(--blue-color-02);
    border-radius: 8px 0 0 8px;
}


/* nút tải lại */
.btn_reset {
    --width-btn: 42px;
    background-color: var(--red--color-01);
    border-color:  var(--red--color-01);
}

.btn_reset i {
    font-size: 32px;
}

/* nút chức năng */
.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 8px;
}
.btn_delete, .btn_fix, .btn-account {
    --width-btn: 32px;
    height: 32px;
}

.btn_delete {
    background-color: var(--red--color-01);
    border-color:  var(--red--color-01);
}

.btn_delete i , .btn_fix i{
    font-size: 24px;
    font-weight: bold;
}

.account-true {
    cursor: initial;
    transform: none;
    background: #ddd;
}

/* css hiệu ứng nút */

.btn i {
    transition: 0.2s;
}


.btn:hover i {
    transform: scale(1.2);
}

.account-true:hover i {
    transform: none;
}

/* css check box */
.CheckBoxHanhDong {
    margin: 10px 0;
    display: flex;
    column-gap: 20px;
}


  .checkbox-wrapper-46 input[type="checkbox"] {
    display: none;
    visibility: hidden;
  }

  .checkbox-wrapper-46 .cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
  }
  .checkbox-wrapper-46 .cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: middle;
    border: 1px solid #9098A9;
    transition: all 0.2s ease;
  }
  .checkbox-wrapper-46 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
  }
  .checkbox-wrapper-46 .cbx span:first-child:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #506EEC;
    display: block;
    transform: scale(0);
    opacity: 1;
    border-radius: 50%;
  }
  .checkbox-wrapper-46 .cbx span:last-child {
    padding-left: 5px;
  }
  .checkbox-wrapper-46 .cbx:hover span:first-child {
    border-color: #506EEC;
  }

  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
    animation: wave-46 0.4s ease;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-46 .inp-cbx:checked + .cbx span:first-child:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all 0.6s ease;
  }

  @keyframes wave-46 {
    50% {
      transform: scale(0.9);
    }
  }

  /* select */






