
.all
{
    margin-left: 64px;
}

.header{
    height: 50px;
    width: 100%;
    background-color: red;

}

.container {
    margin-top: 50px;
    margin-left: 100px;
}
.row{
    margin-right: 50px;
}

.btnAdd{
    width: 150px;
    background-color: green;
    color: black;
    padding: 10px;
    margin-left: 900px;
    display: block;
    
}

.showContainer
{
    margin-left: 285px;
    transition: 0.4s;
}   