<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/TrangChu/sidebarPRO.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>
    <div class="sidebar" id="sidebar">
        <div class="sidebar_content">            
            <img src="../../../../public/img/logo.png" alt="" class="sidebar_logo">
            <div class="sidebar_toggle" id="sidebar_toggle">
                <i class='bx bx-chevron-right'id="sidebar_toggle_icon"></i>
            </div>
            <ul class="sidebar_menu_list">
                    <a href="#" class="sidebar_link">
                        <i class='bx bx-cart' id="sidebar_icon"></i>
                        <span class="sidebar_text">Quản lý sản phẩm</span>
                    </a>
                <a href="#" class="sidebar_link" id="submenu1">
                    <i class='bx bx-user' id="sidebar_icon"></i>
                    <span class="sidebar_text">Quản lý nhân sự</span>
                    <i class='bx bx-chevron-down'id="sidebar_left_icon"></i>
                </a>
                <ul class="sidebar_submenu_link" id="sublist1">
                    <a href="#" class="sidebar_sublink">
                        <span class="sidebar_text">Tài Khoản</span>
                    </a>
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Nhóm Quyền</span>
                    </a>
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Chức Năng</span>
                    </a>
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Chi Tiết Quyền</span>
                    </a>
                </ul>
                <a href="#" class="sidebar_link">
                    <i class='bx bx-cart-add' id="sidebar_icon"></i>
                    <span class="sidebar_text">Nhập hàng</span>
                </a>
                <a href="#" class="sidebar_link" id="submenu2">
                    <i class='bx bx-shopping-bag' id="sidebar_icon"></i>
                    <span class="sidebar_text">Danh mục sản phẩm</span>
                    <i class='bx bx-chevron-down'id="sidebar_left_icon2"></i>
                </a>
                <ul class="sidebar_submenu_link" id="sublist2">
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Thương Hiệu</span>
                    </a>
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Thể Loại</span>
                    </a>
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Chất Liệu</span>
                    </a>
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Kích Cỡ</span>
                    </a>
                    <a href="#" class="sidebar_sublink">
                            <span class="sidebar_text">Màu Sắc</span>
                    </a>
                </ul>
                <a href="#" class="sidebar_link">
                        <i class='bx bx-task' id="sidebar_icon"></i>
                        <span class="sidebar_text">Nhà cung cấp</span>
                </a>
                <a href="#" class="sidebar_link">
                        <i class='bx bx-group' id="sidebar_icon"></i>
                        <span class="sidebar_text">Nhân viên</span>
                </a>
                <a href="#" class="sidebar_link">
                        <i class='bx bx-user-circle' id="sidebar_icon"></i>
                        <span class="sidebar_text">Khách hàng</span>
                </a>
                <a href="#" class="sidebar_link">
                        <i class='bx bx-wallet' id="sidebar_icon"></i>
                        <span class="sidebar_text">Khuyến mãi</span>
                </a>
                <a href="#" class="sidebar_link">
                        <i class='bx bx-money-withdraw' id="sidebar_icon"></i>
                        <span class="sidebar_text">Thuế</span>
                </a>
                <a href="#" class="sidebar_link">
                        <i class='bx bx-bar-chart-alt-2' id="sidebar_icon"></i>
                        <span class="sidebar_text">Thống kê</span>
                </a>
            </ul>
        </div>
    </div>
    <script src="/public/script/TrangChu/sidebarPRO.js"></script>
</body>
</html>